*{
    font-family: 'Baloo Bhai 2', cursive;
}
body{
    overflow-x: hidden;
    overflow-y: scroll;
}
#navbar{
    flex-direction: column;
    height: 3.5rem;
}
#logo{
    margin: 0.1rem 0;
}
#navbar ul li {
    font-size: 1em;
    padding: 0em 0.6em;
}
#navbar ul li a{
    font-size: 1em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}
.h-primary{
    padding: 4rem 0 0 0;
    font-size: 3rem;
}
.h11-primary{
    padding: 0.9em 0px 0.2em 0px;
    font-size: 3rem;
}
.h12-primary {
    padding: 0.1em 0px 0.1em 0px;
    font-size: 3rem;
}
.h-secondary{
    padding: 1rem 0 0 0;
    font-size: 1.5rem;
}
#home{
    margin: 4rem 0;
}
#home .btn{
    margin: 4rem 0;
    text-align: center;
    overflow: hidden;
}
#home h1{
    padding: 1.5rem 1rem 0 1rem;
    font-size: 1.75rem;
    text-align: center;
}
#home p{
    font-size: 1.2rem;
    text-align: center;
    padding: 0 1rem 0 1rem;
}
#services{
    flex-direction: column;
}
#services .box{
    margin: 1rem 1.8rem;
}
#services .box img{
    height: 8rem;
    width: 11rem;
}
#clients{
    overflow: hidden;
    flex-flow: wrap;
}
#client-section{
    height: 450px;
}
.client-items {
    padding: 0 1rem 0.75em 1rem;
}
.client-items img{
    height: 5.8rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}
#contact{
    height: 660px;
}
#contact-box{
    margin: 0 3rem 0 3rem;
}
.submit{
    margin-top: 2.1rem;
}
